<!DOCTYPE html>
<html>
  <head>
    <title>GmapsRailsExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCSHh5otSg7kDYYClt_YgNG8k1F8Z4VFWU'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'load' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
